* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    justify-content: space-around;
    flex: 1 0 px;
}

ul, a {
    list-style: none;
    text-decoration: none;
    color: #e5e7eb;
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 18px;
}

.first-body {
    display: flex;
}
